@import "tailwindcss";

:root {
  --background: #f0f1f3;
  --foreground: #1a1a1a;
  --primary-coral: #ff4f17;
  --primary-dark: #121212;
}

@theme {
  --color-coral: var(--primary-coral);
  --color-darkcharcoal: var(--primary-dark);
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
